<div class="grid place-items-center mt-10">
  <ol class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
        </span>
      <h3 class="font-medium leading-tight">Step 1</h3>
    </li>
    <li class="ms-6">
        <span
          class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
        </span>
      <h3 class="font-medium leading-tight">Step 2</h3>
    </li>
  </ol>
</div>
